* {
    font-family: 'Arial';
    box-sizing: content-box;
}

h1 {
    text-align: center;
    margin-top: 0;
    background: linear-gradient(45deg, #3a05fc, #9198e5);
    height: 10vh;
    padding-top: 5vh;
    color: white;
}

.search-panel {
    text-align: center;
}

img {
    height: 2rem;
}

form {
    text-align: center;
}

input {
    display: block;
    width: 90%;
}

#submit-button {
    margin: 0 auto;
    color: white;
    background-color: rgb(74, 74, 243);
    margin: 20px auto;
    height: 30px;
}

#city-input {
    margin-bottom: 10px;
    height: 30px;
    margin: 0 auto;
}

button {
    width: 90%;
    margin: 10px;
    height: 5vh;
    font-size: 20px;
}

.search-history {
    border-top: 2px gray solid;
    text-align: center;
}

.five-day {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.day {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    background-color:rgb(163, 168, 245);
    border-radius: 5px;
    font-size: 16px;
}

.current-stats {
    list-style-type: none;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

li {
    margin-left: 0;
    display: block;
}

.current-weather {
    border: solid gray 2px;
    padding: 0px 20px 20px 20px;
    margin-top: 5vh;
    border-radius: 5px;
}

.weather-data {
    width: 85%;
    margin: 0 auto;
}

#uv {
    width: fit-content;
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
    }

    .five-day {
        grid-template-columns: 100%;
        width: 90%;
    }

    .day {
        width: 100%;
        margin: 10px;
    }
}