img {
    height: 2rem;
}

.five-day {
    display: flex;
}

.day {
    border: solid black 1px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:rgb(163, 168, 245)
}

.current-stats {
    list-style-type: none;
}