/* universal selector */
* {
    font-family: 'Arial';
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* grid set up to make two panes on wide screens */
.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

/* heading */
h1 {
    text-align: center;
    margin-top: 0;
    background: linear-gradient(45deg, #3a05fc, #9198e5);
    height: 10vh;
    padding-top: 5vh;
    color: white;
}

/* search area */
.search-panel {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
}

input {
    display: block;
    width: 90%;
}

#submit-button {
    margin: 0 auto;
    color: white;
    background-color: rgb(74, 74, 243);
    margin: 20px auto;
    height: 30px;
}

#city-input {
    margin-bottom: 10px;
    height: 30px;
    margin: 0 auto;
}

/* weather data pane */
.weather-data {
    width: 85%;
    margin: 0 auto;
}

/* current weather section */
.current-stats {
    list-style-type: none;
    font-size: 20px;
}

.current-weather {
    padding: 0px 20px 20px 20px;
    margin-top: 5vh;
    border-radius: 5px;
}

/* special style for uv line to show relative color */
#uv {
    width: fit-content;
    padding: 0 10px 0 10px;
    color: white;
}

/* style images received from weather data */
img {
    height: 2rem;
    background-color: rgb(10, 4, 66);
    border-radius: 50%;
}

/* unstyle list elements */
li {
    margin-left: 0;
    display: block;
}

/* previous searches area */
.search-history {
    border-top: 2px gray solid;
    text-align: center;
}

button {
    width: 90%;
    margin: 10px;
    height: 5vh;
    font-size: 20px;
}

/* Five day forecast */
.five-day {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 10px;
}

#five-day-header {
    margin-top: 25px;
}

/* each card in 5 day */
.day {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    background-color:rgb(163, 168, 245);
    border-radius: 5px;
    font-size: 16px;
}

/* media query to stack vertically on smaller screens */

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
    }

    .five-day {
        grid-template-columns: 100%;
        width: 90%;
    }

    .day {
        width: 100%;
        margin: 10px;
    }
    button {
        width: 25%;
    }
}